<!--features.begin-->
<section class="features features--home">
    <div class="container relative features__container">

        <div class="features__box">

            <!--#1-->
            <div class="features__block media--home-1" data-aos="fade-up">
                <div class="features__head">
                    <h2 class="title features__title features__title--m">YOUR&nbsp;SECRET<br> STAYS&nbsp;YOUR SECRET. <span class="title__highlighted">GUARANTEED.</span></h2>
                </div>
                <div class="features__body">
                    <div class="media__pict" data-aos="fade-up">
                        <video class="features__video" loop autoplay muted playsinline>
                            <source src="/images/theme-cyber-purple/features/home-1.webm" type="video/webm">
                            <source src="/images/theme-cyber-purple/features/home-1.mp4" type="video/mp4">
                        </video> 
                    </div>
                    <div class="features__content">
                        <div class="features__text">
                            <h2 class="title features__title features__title--d">YOUR&nbsp;SECRET<br> STAYS&nbsp;YOUR&nbsp;SECRET. <span class="title__highlighted">GUARANTEED.</span></h2>
                            <ul class="features__list">
                                <li class="features__list-item">
                                    <span class="features__list-dot"></span>
                                    We protect your personal information with the same level of&nbsp;security used by the world’s leading banks. <strong>Your data is safeguarded with 256-bit encryption,</strong> ensuring that everything—from your health details to payment information—remains private and secure.
                                </li>
                                <li class="features__list-item">
                                    <span class="features__list-dot"></span>
                                    <strong>At Friday Plans, your information is yours. We never&nbsp;trade, sell, or misuse your personal data. It's&nbsp;our promise to you.</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--#1-->

            <!--#2-->
            <div class="features__block features__block--reverse media--home-2" data-aos="fade-up">
                <div class="features__head">
                    <h2 class="title features__title features__title--m">TRY RISK&#8209;FREE WITH OUR <span class="title__highlighted">60&#8209;NIGHT&nbsp;100% MONEY&nbsp;BACK GUARANTEE</span></h2>
                </div>
                <div class="features__body">
                    <div class="media__pict" data-aos="fade-up">
                        <video class="features__video" loop autoplay muted playsinline>
                            <source src="/images/theme-cyber-purple/features/home-2.webm" type="video/webm">
                            <source src="/images/theme-cyber-purple/features/home-2.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="features__content">
                        <div class="features__text">
                            <h2 class="title features__title features__title--d">TRY&nbsp;RISK&#8209;FREE&nbsp;WITH&nbsp;OUR <span class="title__highlighted">60&#8209;NIGHT 100%&nbsp;MONEY BACK GUARANTEE</span></h2>
                            <p>Tired of solutions that overpromise and underdeliver? So&nbsp;are&nbsp;we.</p>                            
                            <ul class="features__list">
                                <li class="features__list-item">
                                    <span class="features__list-dot"></span>
                                    <strong>No Wasted Money:</strong> With our&nbsp;60-Day Money Back Guarantee, you only ever pay&nbsp;for real results.
                                </li>
                                <li class="features__list-item">
                                    <span class="features__list-dot"></span>
                                    <strong>The Real Deal:</strong> If this isn't&nbsp;the answer you've been looking&nbsp;for, it costs you nothing.
                                </li>
                            </ul>
                            <p><strong>It's time for a solution that actually works.</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--#2-->

            <!--#3-->
            <div class="features__block media--home-3" data-aos="fade-up">
                <div class="features__head">
                    <h2 class="title features__title features__title--m">
                        41,933+ MEMBERS.<br> 2 MILLION TREES.&nbsp;<span class="title__highlighted">JOIN US.</span>
                    </h2>
                </div>
                <div class="features__body">
                    <div class="media__pict" data-aos="fade-up">
                        <video class="features__video" loop autoplay muted playsinline>
                            <source src="/images/theme-cyber-purple/features/home-3.webm" type="video/webm">
                            <source src="/images/theme-cyber-purple/features/home-3.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="features__content">
                        <div class="features__text">
                            <h2 class="title features__title features__title--d">41,933+ MEMBERS.<br> 2 MILLION TREES. <span class="title__highlighted"> JOIN US.</span></h2>
                            <h3 class="features__subtitle">A Man Who Provides. For&nbsp;His Partner, and For&nbsp;the Planet.</h3>
                            <p>Taking action is what you do. You&nbsp;took action to improve your relationship, and with Friday Plans, you’re also helping bring one of the world’s most unique ecosystems in Madagascar back&nbsp;from the brink.</p>

                            <h3 class="features__subtitle">See the Results of Your Commitment</h3>
                            <p>The "Friday Plans Forest" is proof of the character of our members. It stands at over 2 million trees, a&nbsp;direct result of men like you who choose to act.&nbsp;We’re honored to plant a tree on your behalf every year.</p>

                        </div>
                    </div>
                </div>
            </div>
            <!--#3-->

        </div>
    </div>    
</section>
<!--features.end-->
