<header class="header header--home relative text-center">
    <video class="header__bg" loop autoplay muted playsinline>
        <source src="/images/theme-cyber-purple/header/header-bg.webm" type="video/webm">
        <source src="/images/theme-cyber-purple/header/header-bg.mp4" type="video/mp4">
    </video>
    <div class="container relative header__container">
        <div class="header__content">
            <h1 class="header__title" data-aos="fade-up" data-aos-delay="100">ED Treatment Made&nbsp;Simple</h1>
            <h2 class="header__subtitle" data-aos="fade-up" data-aos-delay="200">Affordable, Effective, And&nbsp;Discreet</h2>
            <p class="header__lead" data-aos="fade-up" data-aos-delay="300">Answer a few easy medical questions and join 41,933+ men enjoying FDA-approved Generic Viagra<sup>®</sup> and Cialis<sup>®</sup> for&nbsp;under $2 per tablet.</p>
            <div data-aos="fade-up" data-aos-delay="400" data-aos-offset="100">
                <a class="btn btn--anim header__btn" href="https://intake.fridayplans.com/v3/qualification/1">
                    <span class="btn__bg"></span>
                    <span class="btn__text">Get Started</span>
                </a>
            </div>
        </div>
        
        <ul class="header__list header__list--d" data-aos="fade-up" data-aos-delay="500">
            <li class="header__list-item">
                <span class="header__icon">
                    <img class="header__list-icon header__list-icon--1" src="/images/theme-cyber-purple/header/header-i1.png" loading="lazy" alt="Icon FDA Approved Treatment">
                </span>
                <span class="header__list-text">FDA&nbsp;Approved<br> Treatment</span>
            </li>
            <li class="header__list-item">
                <span class="header__icon">
                    <img class="header__list-icon header__list-icon--2" src="/images/theme-cyber-purple/header/header-i2.png" loading="lazy" alt="Icon Licensed Pharmacy">
                </span>                
                <span class="header__list-text">Licensed<br> Pharmacy</span>
            </li>
            <li class="header__list-item">
                <span class="header__icon">
                    <img class="header__list-icon header__list-icon--3" src="/images/theme-cyber-purple/header/header-i3.png" loading="lazy" alt="Icon Lowest Price Guaranteed">
                </span>                
                <span class="header__list-text">Lowest&nbsp;Price Guaranteed</span>
            </li>
        </ul>

        <a href="#safety" class="header__safety js-toggle-safety" data-aos="fade-up" data-aos-delay="800">Important Safety Information</a>
        <div class="header__ps" data-aos="fade-up" data-aos-delay="900">* Prescription products require an online consultation with a medical provider&nbsp;who will determine if a prescription is appropriate. <span>This&nbsp;site&nbsp;has&nbsp;been medically reviewed by Dr. Neil Shah, MD.</span></div>

        <ul class="header__list header__list--m">
            <li class="header__list-item" data-aos="fade-up" data-aos-delay="500">
                <span class="header__icon">
                    <img class="header__list-icon header__list-icon--1" src="/images/theme-cyber-purple/header/header-i1.png" loading="lazy" alt="Icon FDA Approved Treatment">
                </span>                
                <span class="header__list-text">FDA&nbsp;Approved<br> Treatment</span>
            </li>
            <li class="header__list-item" data-aos="fade-up" data-aos-delay="600">
                <span class="header__icon">
                    <img class="header__list-icon header__list-icon--2" src="/images/theme-cyber-purple/header/header-i2.png" loading="lazy" alt="Icon Licensed Pharmacy">
                </span>                
                <span class="header__list-text">Licensed<br> Pharmacy</span>
            </li>
            <li class="header__list-item" data-aos="fade-up" data-aos-delay="700">
                <span class="header__icon">
                    <img class="header__list-icon header__list-icon--3" src="/images/theme-cyber-purple/header/header-i3.png" loading="lazy" alt="Icon Lowest Price Guaranteed">
                </span>                
                <span class="header__list-text">Lowest&nbsp;Price Guaranteed</span>
            </li>
        </ul>
    </div>    
</header>