<section class="treatment">
    <div class="container relative treatment__container">
        <h2 class="title text-center treatment__title treatment__title--m" data-aos="fade-up">
            <span class="block title__highlighted">Finally,&nbsp;ED treatment 
                <span class="treatment__title-gradient">Without the&nbsp;Crazy Price&nbsp;Tag</span>
            </span>
        </h2>
        <div class="treatment__items">
            <div class="treatment__pict relative">
                <video class="treatment__img" loop autoplay muted playsinline>
                    <source src="{{ "images/theme-cyber-purple/treatment/treatment.webm" | absURL }}" type="video/webm">
                    <source src="{{ "images/theme-cyber-purple/treatment/treatment.mp4" | absURL }}" type="video/mp4">
                </video>
            </div>
            <div class="treatment__content">
                <div class="treatment__text">
                    <h2 class="title text-center treatment__title treatment__title--d">
                        <span class="title__highlighted">Finally,&nbsp;ED&nbsp;treatment
                        <span class="treatment__title-gradient">Without the&nbsp;Crazy Price&nbsp;Tag</span></span>
                    </h2>
                    <p class="treatment__paragraph-1">Get top-strength Generic Viagra<sup>®</sup> and&nbsp;Cialis<sup>®</sup>
                        for&nbsp;just <strong>$1.99 a tablet.</strong></p>
                    <p class="treatment__paragraph-2">It's why <strong>over 41,933 men have
                        already&nbsp;switched</strong> to Friday Plans. They're&nbsp;skipping the pharmacy&nbsp;lines
                        and high prices, and getting the affordable&nbsp;medicine they need <strong>delivered&nbsp;discreetly
                            to your door.</strong></p>
                    <p class="treatment__paragraph-2"><strong>Join them</strong> and get the relief you need,&nbsp;without the inflated&nbsp;cost.</p></div>
            </div>
        </div>
    </div>
</section>