<nav class="navbar">
    <div class="container relative navbar__container">
        <div class="navbar__col">
            <button class="navbar__hamburger" aria-label="Hamburger">
                <span class="navbar__hamburger-bg"></span>
                <span class="navbar__hamburger-circle"></span>
                <svg class="navbar__hamburger-lines" width="31" height="19" viewBox="0 0 31 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M30.9219 4.90767L17.6885 4.90767L13.202 1.0791L0.0806226 1.0791M30.9219 18.095L15.6988 18.095L11.2122 14.2664L0.0806226 14.2664" stroke="#00FFFF"/>
                </svg>
                <svg class="navbar__hamburger-close" width="24" height="24">
                    <use xlink:href="#navbar-close"></use>
                </svg>
            </button>
        </div>
        <div class="navbar__col">
            <a class="logo navbar__logo" href="/" aria-label="Logo Friday Plans">
                <svg class="logo__img" width="32" height="46"><use xlink:href="#logo"></use></svg>
            </a>
        </div>
        <div class="navbar__col">
            <a href="https://members.fridayplans.com/login" class="btn btn--blue navbar__btn-login">
                <span class="btn__text">log in</span>
                <span class="btn__icon">
                    <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.1836 0.75H22.081V20.6537H16.1836" stroke="currentColor" stroke-width="1.5"/>
                        <path d="M0.000506467 10.7827H14.0971M8.37039 16.5625L14.0971 10.7827L8.37039 5.05594" stroke="currentColor" stroke-width="1.5"/>
                    </svg>
                </span>
            </a>
        </div>
    </div>
</nav>