<!--reviews.begin-->
<section class="reviews reviews--custom">
    <div class="container relative reviews__container">
        <h2 class="title reviews__title" data-aos="fade-up">
            Believe the&nbsp;Hype:<br>
            <span class="title__highlighted">Customer Success&nbsp;with Clinically Proven&nbsp;Meds</span>
        </h2>
        <div class="reviews__body">
            <div class="reviews__columns">
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">My Partner<br> Loves&nbsp;Friday&nbsp;Plans</div>
                        <p class="reviews__lead">Always wondered if the statements made about the pills from Friday Plans were tre truth. Let me tell you they work. My partner&nbsp;was extremely happy with the results.</p>
                        <p class="reviews__name">—Carl Willis</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">Looking for a trustworthy, low-cost online pharmacy? This is it!</div>
                        <p class="reviews__lead">At first, I wasn’t sure about Friday plans, but their online consultation convinced me. I was amazed they never change over $2 per tablet, even for 100mg doses. Plus, my order arrived in only two days! Some people don’t like the automatic refills but it’s easy to pause them online, that’s what I do. I will keep using Friday plans and suggest them to others looking for a trustworthy, low-cost online pharmacy.</p>
                        <p class="reviews__name">—Kopec Joseph</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">What sets Friday Plans apart from other online pharmacies</div>
                        <p class="reviews__lead">I was initially hesitant to try an online pharmacy, but Friday Plans quickly put my concerns to rest. The online consultation was comprehensive, and I felt that the doctor truly understood my needs. What sets Friday Plans apart from other online pharmacies is their pricing structure they never charge more than $2 per tablet, even for a 100mg dose. This affordability is unparalleled in comparison to other pharmacies I've used in the past. Additionally, the entire process was impressively swift I received my medication within two days of completing the consultation. I highly recommend Friday Plans for their outstanding service, speed, and cost-effectiveness.</p>
                        <p class="reviews__name">—Arnold H</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">100% satisfied!</div>
                        <p class="reviews__lead">I’m very happy a chose Friday Plans.
                            There are so many options out there for ED meds it’s hard to know which one to choose.
                            After careful research I chose Friday Plans and I’ve been 100% satisfied!
                            They have met or gone beyond all my expectation.</p>
                        <p class="reviews__name">—Kent Barksdale</p> 
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">I am so glad that I tried it</div>
                        <p class="reviews__lead">I was a little skeptical about trying this. I hadn't heard of anyone else trying this plan before. I did some research and discovered the benefits to it. Since I have tried it. It has been quite an experience for me. I immediately noticed an improvement and have become a successful outcome for me. I am so glad that I tried it. I look forward to continuing my plans.</p>
                        <p class="reviews__name">—Corrie Flannigan</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">It does what it<br> says it will do</div>
                        <p class="reviews__lead">It does what it says it will do! It can go for hours throughout the night and morning! I love the amount of pills for the price!!!!</p>
                        <p class="reviews__name">—Kenneth Nwachukwu</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">Easy. Within 10 minutes had order on the way</div>
                        <p class="reviews__lead">Easy. That’s the best description. Within 10 minutes had order on the way. Arrived discretely, product was well packaged. Way better than doctor visit.</p>
                        <p class="reviews__name">—Mark Alan Dooley</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">Quick, Easy,<br> and Affordable!</div>
                        <p class="reviews__lead">I decided to give Friday Plans a try and was thrilled with their service. Their online consultation was easy and thorough, and I was impressed with their pricing – never charging more than $2 per tablet, even for 100mg doses! My medication arrived within two days, and I'll continue to use their services.</p>
                        <p class="reviews__name">—AB</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">My fiance sure does enjoy&nbsp;the benefits</div>
                        <p class="reviews__lead">I've tried different manufacturers and products but Friday Plans has worked the best for me. My fiance sure does enjoy the benefits as well as I!!</p>
                        <p class="reviews__name">—Mike</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">I’ve used 3 different sites</div>
                        <p class="reviews__lead">Quick, efficient, great price and great product. My case was reviewed quickly, approved and I had my medications within a couple days. I’ve used 3 different sites now and this was the best.</p>
                        <p class="reviews__name">—Kyle</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">Definitely worth it</div>
                        <p class="reviews__lead">Definitely worth it. Works incredible, very affordable. If you are on the fence pull the trigger on this</p>
                        <p class="reviews__name">—James Chlupac</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">They do what they say&nbsp;they will do and…</div>
                        <p class="reviews__lead">They do what they say they will do and don't make you jump through hoops to get it done...couldn't be much easier</p>
                        <p class="reviews__name">—Customer</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">Give them a try...</div>
                        <p class="reviews__lead">Quick, easy ordering with great pricing. Best prices I could find!</p>
                        <p class="reviews__name">—TH</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">I have tried other companies like blew…</div>
                        <p class="reviews__lead">I have tried other companies like blew chew snd hims, literally nothing is comparable, it doesn’t make sense not to use Friday night plans</p>
                        <p class="reviews__name">—Alex Ross</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">Why didn't I do this sooner</div>
                        <p class="reviews__lead">Why didn't I do this sooner. It was easy and quick.</p>
                        <p class="reviews__name">—Richard Harris</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">Excellent company to&nbsp;work with</div>
                        <p class="reviews__lead">Excellent company to work with. Every question and concern was addressed by a professional who seemed to care about overall health. I highly recommend.</p>
                        <p class="reviews__name">—James Whitaker</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">One of the best decisions&nbsp;I have made</div>
                        <p class="reviews__lead">I was very nervous when I found out about this, but now I can say that it has been one of the best decisions I have made since I have improved a lot in my problem.</p>
                        <p class="reviews__name">—walter perdomo licona</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">I used to struggle with confidence, especially in my relationship</div>
                        <p class="reviews__lead">Trustworthy and affordable pharmacy. Trying Friday Plans was one of the best decisions I've made. The medication they provided me has made a huge difference in my life. I used to struggle with confidence, especially in my relationship. However, since starting the medication, I've noticed a significant improvement in my ability to perform and feel confident in intimate situations. 5 stars!</p>
                        <p class="reviews__name">—Jason istas</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">Couldn't ask for for more</div>
                        <p class="reviews__lead">The exam was quick and focused. My first order arrived on time and the product is effective. I couldn't ask for more.</p>
                        <p class="reviews__name">—Frank Cash</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">Got the swagger back</div>
                        <p class="reviews__lead">We couldn't believe the results! From the first dose I was back in the saddle again so to speak. My woman says it has given me my swagger back. This is a can't miss opportunity. All I did was answer few simple questions and waitfor doctors approval. This company truly does have your best interest in mind knowledgeable, quick to reply, and understanding is what you'll get.no more embarrassment. Give it a shot,I promise you won't regret it.</p>
                        <p class="reviews__name">—Timothy Webb</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">My go to company&nbsp;woooooo!</div>
                        <p class="reviews__lead">Worked better then most that I have taken. Will be ordering again! The process was quick and painless and got them sooner then anticipated.</p>
                        <p class="reviews__name">—The Hive SATX</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">Very efficient and fast&nbsp;with the order</div>
                        <p class="reviews__lead">Very efficient and fast with the order. Got a fast approval from the on line doctor. Couldn't ask for more.</p>
                        <p class="reviews__name">—Robert Harvey</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">Was really relieved</div>
                        <p class="reviews__lead">Was really relieved and excited to get and maintain an erection as my libido declined rapidly in the last four years</p>
                        <p class="reviews__name">—Paris R</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">Product that actually works</div>
                        <p class="reviews__lead">The product is really awesome. Highly recommend. Fast and easy shipping and comes in a discrete package. Wife is extremely happy and I will continue to order and use these awesome products 😎</p>
                        <p class="reviews__name">—Jared Reneau</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">Just wishing I<br> had bought more</div>
                        <p class="reviews__lead">Was easy delivery was on time great product. I’ve taken many other ones but this one seems a little more pure. I just wish I could get more more frequently or maybe I was just wishing I had bought more.</p>
                        <p class="reviews__name">—Dennis Huelbig</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">I couldn't get her to&nbsp;stop&nbsp;smiling</div>
                        <p class="reviews__lead">I was very nervous at first number one reason I was afraid to tell my wife.... So when they came in I figured I had no choice but to tell her it's not like I was going to hide it. So I told her about him and that night she asked me to take one. By the time we were done I couldn't get her to stop smiling. The next morning I wake up to her..... I don't know if I'm allowed to say the rest but yeah use your imagination.... A day past and she came to me again and asked me when I could take another one. So yes they work I haven't had any side effects just pleasurable results from both ends of this relationship. So in the end I would honestly recommend them if you actually need them it will help your sex life it will help your marriage or whatever situation you are in believe me... This skeptic is a true believer.</p>
                        <p class="reviews__name">—Richard H</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">Feel like I'm in back in&nbsp;my&nbsp;twenties</div>
                        <p class="reviews__lead">Exactly as represented. Love the individually wrapped pills. Feel like I'm in back in my twenties.</p>
                        <p class="reviews__name">—Glenn</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">Most ads are fake, Not&nbsp;This One!!!</div>
                        <p class="reviews__lead">Most ads are fake or prices are not accurate. i took a chance and it was exactly as advertised. I got my order of Generic Cialis in just 5 days. Start to finish i so simple and easy. Best prices ive seen online so far without having to share to much personal information.</p>
                        <p class="reviews__name">—Mike James</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">Great success with&nbsp;Fridays…</div>
                        <p class="reviews__lead">This experience has been great so far,very easy to get the plan you want and need. My wife loves the out come!!</p>
                        <p class="reviews__name">—James R</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">Five stars all the way</div>
                        <p class="reviews__lead">Grade A costumer service. Best company I've had the pleasure of doing business with in years. THEY ARE SO EASY TO DO HARD BUSINESS WITH.</p>
                        <p class="reviews__name">—Eric Parsons</p>
                    </div>
                </div>
                <div class="reviews__column" data-aos="fade-up">
                    <div class="reviews__card">
                        <div class="reviews__subtitle">This product worked wonders for me</div>
                        <p class="reviews__lead">This product worked wonders for me. Now my confidence is growing and I don't shy away from sex. I initiate sex. It will change your life. Believe that.</p>
                        <p class="reviews__name">—Ken Lewis</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="reviews__foot" data-aos="fade-up">
            <button class="btn btn--beveled btn--lg reviews__btn-more">
                <svg class="btn__bg" viewBox="0 0 291 90" preserveAspectRatio="none">
                    <path class="btn-fill" d="M21.6309 6L5.5 21.7109V83H266.765L282.5 68.2119V6H21.6309Z" stroke="url(#paintLinearGradientR)"/>
                    <path class="btn-acc" d="M105 0.5C102.2 0.5 50.5 0.5 19.5 0.5L0.5 18.5V49"></path>
                    <path class="btn-acc" d="M185.5 89C188.3 89 240 89 271 89L290 71V40.5"></path>
                    <path class="btn-extend" d="M0.5 49 V89 H185.5"></path>
                    <path class="btn-extend" d="M290 40.5 V0.5 H105"></path>
                    <defs>
                        <linearGradient id="paintLinearGradientR" x1="263" y1="83.5" x2="32.5" y2="12.5" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#1CF1A5"/>
                            <stop offset="1" stop-color="#12B97C"/>
                        </linearGradient>
                    </defs>
                </svg>
                <span class="btn__text">VIEW more</span>
            </button>
        </div>
    </div>
</section>
<!--reviews.end-->