.madagascar {
    &__container {
        padding-top: 1.5rem;
        padding-bottom: .7rem;
    }

    @media (min-width: $large-desktop-min) {
        &__container {
            padding-top: 2rem;
            padding-bottom: calc(.7rem * 1.333);
        }
    }

    @media (max-width: $tablet) {
        &__container {
            padding-top: 2.2rem;
            padding-bottom: 2.1rem;
        }
    }
}
