.packaging {
    &__media-1 {
        @media (min-width: $laptop-min) {
            .media__img {
                top: 55%;
                left: 40%;
            }
        }

        @media (max-width: $tablet) {
            .media__pict {
                min-width: calc(100% + 3rem);
                margin-left: -1.5rem;
            }
        }

        @media (max-width: $mobile-sm) {
            .media__content {
                margin-top: -.35rem;
            }
        }
    }

    &__media-2 {
        .media__content {
            margin-top: 0;
        }

        @media (min-width: $laptop-min) {
            & {
                min-height: 25.3125rem;
            }

            .media__pict {
                height: 25.3125rem;
                width: 25.3125rem;
                min-width: 25.3125rem;
            }

            .media__img {
                top: 54.5%;
                left: 50%;
                min-width: 30.5rem;
                max-width: 30.5rem;
                min-height: 28rem;
                max-height: 28rem;
            }

            .media__title {
                font-size: 2rem;
                line-height: 1.15625;
                min-width: 30rem;
                margin-top: 3.6rem;
            }

            .media__content {
                max-width: 29.5rem;
            }
        }

        @media (min-width: $large-desktop-min) {
            & {
                min-height: 33.79rem;
            }

            .media__pict {
                height: 33.79rem;
                width: 33.79rem;
                min-width: 33.79rem;
            }

            .media__img {
                min-width: 40.72rem;
                max-width: 40.72rem;
                min-height: 37.38rem;
                max-height: 37.38rem;
            }

            .media__title {
                font-size: 2.67rem;
                min-width: 40.05rem;
                margin-top: 4.81rem;
            }

            .media__content {
                max-width: 39.38rem;
            }
        }

        @media (max-width: $tablet) {
            .media__pict {
                min-width: calc(100% + 1.75rem);
                position: relative;
                left: -11px;
            }

            .media__content {
                margin-top: -1rem !important;
            }

            .media__text {
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }
        }

        @media (max-width: $mobile-md) {
            .media__img {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                min-width: 110%;
            }
        }
    }

    &__media-3 {
        @media (min-width: $laptop-min) {
            & {
                margin-top: 6.4rem;
            }

            .media__img {
                top: 59%;
                left: 34.5%;
                min-width: 31.125rem;
                max-width: 31.125rem;
                min-height: 28.938rem;
                max-height: 28.938rem;
            }

            .media__content {
                margin-top: 5rem;
            }
        }

        @media (min-width: $large-desktop-min) {
            & {
                margin-top: 8.54rem;
            }

            .media__img {
                min-width: 41.55rem;
                max-width: 41.55rem;
                min-height: 38.63rem;
                max-height: 38.63rem;
            }

            .media__content {
                margin-top: 6.67rem;
            }
        }

        @media (max-width: $tablet) {
            .media__pict {
                min-width: calc(100% + 3rem);
                margin-left: -1.5rem;
                margin-top: -.25rem;
            }

            .media__content {
                margin-top: .65rem !important;
            }
        }

        @media (max-width: $mobile-md) {
            .media__pict {
                transform: rotate(1.5deg);
            }

            .media__img {
                min-width: 106%;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        @media (max-width: $mobile-sm) {
            .media__content {
                margin-top: .35rem !important;
            }
        }
    }
}
