@font-face {
    font-family: 'Kellion';
    src: url('../fonts/Kellion-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Future Earth';
    src: url('../fonts/FutureEarth.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
