<header class="header header--home relative text-center">
    <video class="header__bg" loop autoplay muted playsinline>
        <source src="{{ "images/theme-cyberpunk/header/header-bg.webm" | absURL }}" type="video/webm">
        <source src="{{ "images/theme-cyberpunk/header/header-bg.mp4" | absURL }}" type="video/mp4">
    </video>
    <div class="container relative header__container">
        <div class="header__content">
            <h1 class="header__title" data-aos="fade-up" data-aos-delay="100"><span class="header__title-gradient">ED Treatment</span> Made&nbsp;Simple</h1>
            <h2 class="header__subtitle" data-aos="fade-up" data-aos-delay="200">Affordable, Effective, And&nbsp;Discreet</h2>
            <p class="header__lead" data-aos="fade-up" data-aos-delay="300">Answer a few easy medical questions and join 41,933+ men enjoying FDA-approved Generic Viagra<sup>®</sup> and Cialis<sup>®</sup> for&nbsp;under $2 per tablet.</p>
            <div data-aos="fade-up" data-aos-delay="400" data-aos-offset="100">
                <a class="btn btn--anim header__btn" href="https://intake.fridayplans.com/v3/qualification/1">                    
                    <svg class="btn__bg" viewBox="0 0 291 90" preserveAspectRatio="none">
                        <path class="btn-fill" d="M285 68.4286V5.5H21.428L5 21.5V83.5H268.963L285 68.4286Z"></path>
                        <path class="btn-acc" d="M105 0.5C102.2 0.5 50.5 0.5 19.5 0.5L0.5 18.5V49"></path>
                        <path class="btn-acc" d="M185.5 89C188.3 89 240 89 271 89L290 71V40.5"></path>
                        <path class="btn-extend" d="M0.5 49 V89 H185.5"></path>
                        <path class="btn-extend" d="M290 40.5 V0.5 H105"></path>
                    </svg>
                    <span class="btn__text">
                        Get Started
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.06055 16.5L16.0605 1.5M16.0605 13.875V1.5H3.87305" stroke="#0B0B25" stroke-width="3"/>
                        </svg>
                    </span>
                </a>
            </div>

            <a href="#safety" class="header__safety js-toggle-safety" data-aos="fade-up" data-aos-delay="800">Important Safety Information</a>
            <div class="header__ps" data-aos="fade-up" data-aos-delay="900">* Prescription products require an online consultation with a medical provider&nbsp;who will determine if a prescription is appropriate. <span>This&nbsp;site&nbsp;has&nbsp;been medically reviewed by Dr. Neil Shah, MD.</span></div>
        </div>
        
        <ul class="header__list">
            <li class="header__list-item" data-aos="fade-up" data-aos-delay="500">                
                <span class="header__list-text">FDA&nbsp;Approved&nbsp;Treatment</span>
                <span class="header__icon">
                    <img class="header__list-icon" src="{{ "images/theme-cyberpunk/header/i-circle-check.svg" | absURL }}" loading="lazy" alt="">
                </span>
            </li>
            <li class="header__list-line" data-aos="fade-up" data-aos-delay="500"><span></span></li>
            <li class="header__list-item" data-aos="fade-up" data-aos-delay="500">                              
                <span class="header__list-text">Licensed&nbsp;Pharmacy</span>
                <span class="header__icon">
                    <img class="header__list-icon" src="{{ "images/theme-cyberpunk/header/i-circle-check.svg" | absURL }}" loading="lazy" alt="">
                </span>  
            </li>
            <li class="header__list-line" data-aos="fade-up" data-aos-delay="500"><span></span></li>
            <li class="header__list-item" data-aos="fade-up" data-aos-delay="500">                               
                <span class="header__list-text">Lowest&nbsp;Price&nbsp;Guaranteed</span>
                <span class="header__icon">
                    <img class="header__list-icon" src="{{ "images/theme-cyberpunk/header/i-circle-check.svg" | absURL }}" loading="lazy" alt="">
                </span> 
            </li>
            <li class="header__list-line" data-aos="fade-up" data-aos-delay="500"><span></span></li>
        </ul>        

        <div class="trusted__box" data-aos="fade-up">
            <h2 class="trusted__title aos-init" data-aos="fade-up">
                <span class="trusted__title-gradient">Trusted by Over&nbsp;40,933&nbsp;Men</span>
                <span class="trusted__title-white">Across&nbsp;the&nbsp;U.S.</span>
            </h2>
            <p class="trusted__lead" data-aos="fade-up">As Advertised On:</p>
            <div class="trusted__logos">
                <div class="trusted__logo" data-aos="fade-up" data-aos-delay="100">
                    <img class="trusted__logo-img" src="{{ "images/trusted/logo-1.png" | absURL }}" loading="lazy" alt="USA Today">
                </div>
                <div class="trusted__logo" data-aos="fade-up" data-aos-delay="150">
                    <img class="trusted__logo-img" src="{{ "images/trusted/logo-2.png" | absURL }}" loading="lazy" alt="Forbes">
                </div>
                <div class="trusted__logo" data-aos="fade-up" data-aos-delay="200">
                    <img class="trusted__logo-img" src="{{ "images/trusted/logo-3.png" | absURL }}" loading="lazy" alt="MSNBC">
                </div>
                <div class="trusted__logo" data-aos="fade-up" data-aos-delay="250">
                    <img class="trusted__logo-img" src="{{ "images/trusted/logo-5.png" | absURL }}" loading="lazy" alt="CBS">
                </div>
                <div class="trusted__logo" data-aos="fade-up" data-aos-delay="300">
                    <img class="trusted__logo-img" src="{{ "images/trusted/logo-6.png" | absURL }}" loading="lazy" alt="CNN">
                </div>
                 <div class="trusted__logo" data-aos="fade-up" data-aos-delay="350">
                    <img class="trusted__logo-img" src="{{ "images/trusted/logo-4.png" | absURL }}" loading="lazy" alt="Fox">
                </div>    
            </div>
        </div>

    </div>    
    <!-- svg for btn animation -->
    <svg width="0" height="0" class="sr-only" aria-hidden="true">
        <defs>
            <linearGradient id="btn-grad" x1="263" y1="83.5" x2="32.5" y2="12.5" gradientUnits="userSpaceOnUse">
                <stop offset="0%" stop-color="#1CF1A5"/>
                <stop offset="100%" stop-color="#12B97C"/>
            </linearGradient>
            <clipPath id="lgn-clip-white">
            <path d="M145 32.9286V0H11.428L0 11V48H128.963L145 32.9286Z"/>
            </clipPath>
        </defs>
    </svg>
</header>