<div class="deal is-active">
    <div class="deal__block"><div class="container relative deal__container">
        <div class="deal__grid">
            <div class="deal__pict">
                <img class="deal__img" src="{{ "images/deal/product.png" | absURL }}" srcset="{{ "images/deal/product@2x.png" | absURL }} 2x" alt="">
                <div class="deal__shadow"></div>
                <div class="deal__bg">
                    <video class="deal__video" autoplay loop muted playsinline preload="auto">
                        <source src="{{ "video/deal.webm" | absURL }}" type="video/webm">
                        Your browser does not support the video tag.
                    </video>
                    <div class="deal__gradient-bottom"></div>
                </div>
            </div>
            <div class="deal__content">
                <h2 class="deal__subtitle">
                    <div class="deal__arrows">
                        <span class="deal__arrow"></span>
                        <span class="deal__arrow"></span>
                        <span class="deal__arrow"></span>
                    </div>
                    <span class="deal__text">new deal alert!</span>
                    <div class="deal__arrows deal__arrows--reverse">
                        <span class="deal__arrow"></span>
                        <span class="deal__arrow"></span>
                        <span class="deal__arrow"></span>
                    </div>
                </h2>
                <h3 class="title deal__title">Sign Up and Save $10 — With&nbsp;Speedy, Free Shipping</h3>

                <a href="https://intake.fridayplans.com/v3/qualification/1" class="btn btn--lg deal__btn">
                    <svg class="deal__btn--svg-desktop" width="320" height="84">
                        <use xlink:href="#deal-btn"></use>
                    </svg>
                    <svg class="deal__btn--svg-mobile" width="273" height="72">
                        <use xlink:href="#deal-btn-mobile"></use>
                    </svg>
                    <span class="btn__text">Claim Offer</span>
                </a>
            </div>
        </div>
    </div>
    </div>
    <button class="deal__toggler">
        <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L8 8L15 1" stroke="url(#paintArrUpDown)" stroke-width="2"/>
            <defs>
                <linearGradient id="paintArrUpDown" x1="8.03139" y1="2.02941" x2="8.03139" y2="12.1176" gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="#FC7BD6"/>
                    <stop offset="1" stop-color="#BC168A"/>
                </linearGradient>
            </defs>
        </svg>
    </button>
    <div href="#" class="deal__overlay"></div>
</div>