<!--menu.begin-->
<div class="menu">
    <div class="menu__inner">
        <div class="menu__content">
            <div class="menu__body">
                <ul class="menu__list">
                    <li class="menu__item"><a href="/" class="menu__link menu__link--home is-active">Home</a></li>
                    <li class="menu__item"><a href="/pricing/" class="menu__link menu__link--pricing">Pricing</a></li>
                    <li class="menu__item"><a href="/shipping/" class="menu__link menu__link--shipping">Discreet Packaging</a></li>
                    <li class="menu__item"><a href="/privacy/" class="menu__link menu__link--privacy">Privacy and Security</a></li>
                    <li class="menu__item"><a href="/satisfaction/" class="menu__link menu__link--money-back">Money Back Guarantee</a></li>
                    <li class="menu__item"><a href="/mission/" class="menu__link menu__link--mission">Our Mission</a></li>
                    <li class="menu__item"><a href="/charity/" class="menu__link menu__link--charitable">Our Charitable Efforts</a></li>
                    <li class="menu__item"><a href="https://members.fridayplans.com/login" class="menu__link menu__link--account">Manage Account</a></li>
                    <li class="menu__item"><a href="/faq/" class="menu__link menu__link--faq">frequently asked questions</a></li>
                    <li class="menu__item"><a href="/contact-us/" class="menu__link menu__link--contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="menu__foot">
                <div class="menu__copyright">© <span class="js-years"></span> FridayPlans, Inc.</div>
            </div>
        </div>
    </div>
    <div class="menu__overlay"></div>
</div>
<!--menu.end-->