<nav class="navbar">
    <div class="container relative navbar__container">
        <div class="navbar__col">
            <button class="navbar__hamburger" aria-label="Hamburger">
                <svg class="navbar__hamburger-bg" width="57" height="54" viewBox="0 0 57 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M43.2207 0.122559C44.2839 0.122559 45.3034 0.545863 46.0539 1.29897L55.8333 11.1117C56.5804 11.8615 57 12.8768 57 13.9353V49.0479C57 51.2571 55.2091 53.0479 53 53.0479H13.779C12.716 53.0479 11.6967 52.6248 10.9462 51.8719L1.16719 42.0625C0.419735 41.3127 1.52588e-05 40.2972 1.52588e-05 39.2384V4.12256C1.52588e-05 1.91342 1.79087 0.122559 4.00002 0.122559H43.2207Z" fill="url(#paint0_linear_292_6738)" fill-opacity="0.24"/>
                    <defs>
                        <linearGradient id="paint0_linear_292_6738" x1="-24.2702" y1="26.5363" x2="56.6429" y2="26.5363" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#07C9FF"/>
                            <stop offset="1" stop-color="#0459F7"/>
                        </linearGradient>
                    </defs>
                </svg>
                <span class="navbar__hamburger-circle"></span>
                <svg class="navbar__hamburger-lines" width="31" height="19" viewBox="0 0 31 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M30.9219 4.90767L17.6885 4.90767L13.202 1.0791L0.0806226 1.0791M30.9219 18.095L15.6988 18.095L11.2122 14.2664L0.0806226 14.2664" stroke="#00FFFF"/>
                </svg>
                <svg class="navbar__hamburger-close" width="24" height="24">
                    <use xlink:href="#navbar-close"></use>
                </svg>
            </button>
        </div>
        <div class="navbar__col">
            <a class="logo navbar__logo" href="/" aria-label="Logo Friday Plans">
                <svg class="logo__img" width="32" height="46"><use xlink:href="#logo"></use></svg>
            </a>
        </div>
        <div class="navbar__col">
            <a href="https://members.fridayplans.com/login" class="btn btn--blue navbar__btn-login">
                <span class="btn__text">log in</span>
            </a>
        </div>
    </div>
    <div class="navbar__bg">
        <div class="navbar__bg-inner"></div>
    </div>
    <div class="navbar__shape-line"></div>
</nav>