<section class="benefits benefits--home">
    <div class="container relative benefits__container">
        <h2 class="title benefits__title" data-aos="fade-up">
            <span class="block title__highlighted">Why&nbsp;Men&nbsp;Can’t Stop Praising Friday&nbsp;Plans</span>
        </h2>
        <div class="benefits__items">
            <div class="benefits__item benefits__item--1" data-aos="fade-up" data-aos-delay="100">
                <div class="benefits__card">
                    <div class="icon-custom benefits__icon">
                        <div class="icon-custom__arc"></div>
                        <svg class="icon-custom__svg-circle">
                            <use xlink:href="#benefits-svg-icon-circle"></use>
                        </svg>
                        <div class="icon-custom__circle" id="i-unbeatable-price" data-svg="{{ "images/icons/i-unbeatable-price.svg" | absURL }}"></div>
                    </div>
                    <h3 class="benefits__subtitle">Unbeatable<br> PRICE</h3>
                    <p class="benefits__lead">Get 9 ED pills for only<br> <span class="text-nowrap">$7&mdash;just</span> $0.87 per pill. No&nbsp;hidden&nbsp;fees, no catch.</p>
                </div>
                <svg class="benefits__shape d-md-none" width="356" height="342">
                    <use xlink:href="#benefits-shape"></use>
                </svg>
            </div>
            <div class="benefits__item benefits__item--2" data-aos="fade-up" data-aos-delay="200">
                <div class="benefits__card">
                    <div class="icon-custom benefits__icon">
                        <div class="icon-custom__arc"></div>
                        <svg class="icon-custom__svg-circle">
                            <use xlink:href="#benefits-svg-icon-circle"></use>
                        </svg>
                        <div class="icon-custom__circle" id="i-discreet-packaging" data-svg="{{ "images/icons/i-discreet-packaging.svg" | absURL }}"></div>
                    </div>
                    <h3 class="benefits__subtitle">Discreet<br> PACKAGING</h3>
                    <p class="benefits__lead">Your medication arrives in unmarked packages, delivered straight to your&nbsp;door.</p>
                </div>
                <svg class="benefits__shape d-md-none" width="356" height="342">
                    <use xlink:href="#benefits-shape"></use>
                </svg>
            </div>
            <div class="benefits__item benefits__item--3" data-aos="fade-up" data-aos-delay="300">
                <div class="benefits__card">
                    <div class="icon-custom benefits__icon">
                        <div class="icon-custom__arc"></div>
                        <svg class="icon-custom__svg-circle">
                            <use xlink:href="#benefits-svg-icon-circle"></use>
                        </svg>
                        <div class="icon-custom__circle" id="i-licensed-online-pharmacy" data-svg="{{ "images/icons/i-licensed-online-pharmacy.svg" | absURL }}"></div>
                    </div>
                    <h3 class="benefits__subtitle">OFFICIAL<br> U.S. PHARMACY</h3>
                    <p class="benefits__lead">Dispensing only FDA-approved ED medication for your safety and peace of mind.</p>
                </div>
                <svg class="benefits__shape d-md-none" width="356" height="342">
                    <use xlink:href="#benefits-shape"></use>
                </svg>
            </div>
            <div class="benefits__item benefits__item--4" data-aos="fade-up" data-aos-delay="400">
                <div class="benefits__card">
                    <div class="icon-custom benefits__icon">
                        <div class="icon-custom__arc"></div>
                        <svg class="icon-custom__svg-circle">
                            <use xlink:href="#benefits-svg-icon-circle"></use>
                        </svg>
                        <div class="icon-custom__circle" id="i-us-doctors-pharmacies" data-svg="{{ "images/icons/i-us-doctors-pharmacies.svg" | absURL }}"></div>
                    </div>
                    <h3 class="benefits__subtitle">US&nbsp;Doctors AND&nbsp;Pharmacies</h3>
                    <p class="benefits__lead">Licensed doctors approve<br> your prescription, and US<br> pharmacies fulfill it.</p>
                </div>
                <svg class="benefits__shape d-md-none" width="356" height="342">
                    <use xlink:href="#benefits-shape"></use>
                </svg>
            </div>
            <div class="benefits__item benefits__item--5" data-aos="fade-up" data-aos-delay="500">
                <div class="benefits__card">
                    <div class="icon-custom benefits__icon">
                        <div class="icon-custom__arc"></div>
                        <svg class="icon-custom__svg-circle">
                            <use xlink:href="#benefits-svg-icon-circle"></use>
                        </svg>
                        <div class="icon-custom__circle" id="i-free-shipping" data-svg="{{ "images/icons/i-free-shipping.svg" | absURL }}"></div>
                    </div>
                    <h3 class="benefits__subtitle">Free<br> Shipping</h3>
                    <p class="benefits__lead">No extra fees for<br> delivery—your medication<br> ships free every time.</p>
                </div>
                <svg class="benefits__shape d-md-none" width="356" height="342">
                    <use xlink:href="#benefits-shape"></use>
                </svg>
            </div>
            <div class="benefits__item benefits__item--6" data-aos="fade-up" data-aos-delay="600">
                <div class="benefits__card">
                    <div class="icon-custom benefits__icon">
                        <div class="icon-custom__arc"></div>
                        <svg class="icon-custom__svg-circle">
                            <use xlink:href="#benefits-svg-icon-circle"></use>
                        </svg>
                        <div class="icon-custom__circle" id="i-money-back-guarantee" data-svg="{{ "images/icons/i-money-back-guarantee.svg" | absURL }}"></div>
                    </div>
                    <h3 class="benefits__subtitle">Money&nbsp;Back<br> Guarantee</h3>
                    <p class="benefits__lead">Not satisfied? Get a<br> full refund, no<br> questions&nbsp;asked.</p>
                </div>
                <svg class="benefits__shape d-md-none" width="356" height="342">
                    <use xlink:href="#benefits-shape"></use>
                </svg>
            </div>
        </div>
    </div>
    <div class="benefits__ellipse"></div>
</section>