<section class="treatment">
    <div class="container relative treatment__container">
        <h2 class="title text-center treatment__title treatment__title--m" data-aos="fade-up"><span
                class="block title__highlighted">Finally,&nbsp;ED treatment Without&nbsp;the Crazy&nbsp;Price&nbsp;Tag</span>
        </h2>
        <div class="treatment__items">
            <div class="treatment__pict relative">
                <img class="treatment__img" src="/images/treatment/treatment.png"
                     srcset="/images/treatment/treatment@2x.png 2x" alt="">
                <img class="treatment__img-product" src="/images/treatment/treatment-product.png"
                     srcset="/images/treatment/treatment-product@2x.png 2x" alt="">
            </div>
            <div class="treatment__content">
                <div class="treatment__text"><h2 class="title text-center treatment__title treatment__title--d"><span
                        class="title__highlighted">Finally,&nbsp;ED&nbsp;treatment Without the Crazy Price&nbsp;Tag</span>
                </h2>
                    <p class="treatment__paragraph-1">Get top-strength Generic Viagra<sup>®</sup> and Cialis<sup>®</sup>
                        for <strong>just&nbsp;$1.99 a tablet.</strong></p>
                    <p class="treatment__paragraph-2">It's why <strong>over 41,933 men have
                        already&nbsp;switched</strong> to&nbsp;Friday Plans. They're skipping the pharmacy&nbsp;lines
                        and&nbsp;high prices, and getting the affordable&nbsp;medicine they&nbsp;need <strong>delivered&nbsp;discreetly
                            to your door.</strong></p>
                    <p class="treatment__paragraph-2"><strong>Join them</strong> and get the relief you need, without&nbsp;the&nbsp;inflated
                        cost.</p></div>
            </div>
        </div>
    </div>
</section>