<section class="trusted trusted--custom">
    <div class="container relative trusted__container">
        <div class="trusted__box">
            <h2 class="trusted__title aos-init" data-aos="fade-up">The Trusted ED Solution&nbsp;Behind<br> <span> 40,933+&nbsp;Thriving Relationships</span></h2>
            <p class="trusted__lead" data-aos="fade-up">As Advertised On:</p>
            <div class="trusted__logos">
                <div class="trusted__logo" data-aos="fade-up" data-aos-delay="100">
                    <img class="trusted__logo-img" src="/images/trusted/logo-1.png" loading="lazy" alt="USA Today">
                </div>
                <div class="trusted__logo" data-aos="fade-up" data-aos-delay="150">
                    <img class="trusted__logo-img" src="/images/trusted/logo-2.png" loading="lazy" alt="Forbes">
                </div>
                <div class="trusted__logo" data-aos="fade-up" data-aos-delay="200">
                    <img class="trusted__logo-img" src="/images/trusted/logo-3.png" loading="lazy" alt="MSNBC">
                </div>
                <div class="trusted__logo" data-aos="fade-up" data-aos-delay="250">
                    <img class="trusted__logo-img" src="/images/trusted/logo-4.png" loading="lazy" alt="FOX">
                </div>
                <div class="trusted__logo" data-aos="fade-up" data-aos-delay="300">
                    <img class="trusted__logo-img" src="/images/trusted/logo-5.png" loading="lazy" alt="CBS">
                </div>
                <div class="trusted__logo" data-aos="fade-up" data-aos-delay="350">
                    <img class="trusted__logo-img" src="/images/trusted/logo-6.png" loading="lazy" alt="CNN">
                </div>
            </div>
            <div class="trusted__lines">
                <div class="trusted__line-1"></div>
                <div class="trusted__line-2"></div>
                <div class="trusted__line-3"></div>
                <div class="trusted__line-4"></div>
                <div class="trusted__line-5"></div>
            </div>
        </div>
    </div>
</section>