<section class="trusted trusted--custom">
    <div class="container relative trusted__container">
        <div class="trusted__box">
            <h2 class="trusted__title aos-init" data-aos="fade-up">
                <span class="trusted__title-gradient">Trusted by Over&nbsp;40,933&nbsp;Men</span>
                <span class="trusted__title-white">Across&nbsp;the&nbsp;U.S.</span>
            </h2>
            <p class="trusted__lead" data-aos="fade-up">As Advertised On:</p>
            <div class="trusted__logos">
                <div class="trusted__logo" data-aos="fade-up" data-aos-delay="100">
                    <img class="trusted__logo-img" src="{{ "images/trusted/logo-1.png" | absURL }}" loading="lazy" alt="USA Today">
                </div>
                <div class="trusted__logo" data-aos="fade-up" data-aos-delay="150">
                    <img class="trusted__logo-img" src="{{ "images/trusted/logo-2.png" | absURL }}" loading="lazy" alt="Forbes">
                </div>
                <div class="trusted__logo" data-aos="fade-up" data-aos-delay="200">
                    <img class="trusted__logo-img" src="{{ "images/trusted/logo-3.png" | absURL }}" loading="lazy" alt="MSNBC">
                </div>
                <div class="trusted__logo" data-aos="fade-up" data-aos-delay="250">
                    <img class="trusted__logo-img" src="{{ "images/trusted/logo-4.png" | absURL }}" loading="lazy" alt="FOX">
                </div>
                <div class="trusted__logo" data-aos="fade-up" data-aos-delay="300">
                    <img class="trusted__logo-img" src="{{ "images/trusted/logo-5.png" | absURL }}" loading="lazy" alt="CBS">
                </div>
                <div class="trusted__logo" data-aos="fade-up" data-aos-delay="350">
                    <img class="trusted__logo-img" src="{{ "images/trusted/logo-6.png" | absURL }}" loading="lazy" alt="CNN">
                </div>
            </div>
        </div>
    </div>
</section>