.header--contact-us {
    min-height: 28.75rem;

    &::before,
    &::after {
        display: none;
    }

    .header__container {
        padding-top: 8.5rem;
    }

    .header__title {
        max-width: 68.75rem;
        @include horizontal-center;
        font-size: 3rem;
        line-height: 1.145;
        margin-top: 1.25rem;
        margin-bottom: 11rem;

        span {
            color: $gray-light;
        }
    }

    @media (min-width: $large-desktop-min) {
        & {
            min-height: 38.38rem;
        }

        .header__container {
            padding-top: calc(8.5rem * 1.333);
        }

        .header__title {
            max-width: 91.78rem;
            font-size: 4rem;
            margin-top: calc(1rem * 1.333);
            margin-bottom: calc(11rem * 1.333);
        }
    }

    @media (max-width: $mobile-md) {
        .header__container {
            padding-top: 5.65rem;
        }

        .header__title {
            font-size: 2.125rem;
            line-height: 1.15;
            margin-top: 1.1rem;
        }

        .header__bg {
            top: 9%;
        }
    }
}
