<nav class="navbar">
    <div class="container relative navbar__container">
        <div class="navbar__col">
            <button class="navbar__hamburger" aria-label="Hamburger">
                <span class="navbar__hamburger-line"></span>
                <span class="navbar__hamburger-line"></span>
            </button>
        </div>
        <div class="navbar__col">
            <a class="logo navbar__logo" href="/" aria-label="Logo Friday Plans">
                <svg class="logo__img" width="32" height="46"><use xlink:href="#logo"></use></svg>
            </a>
        </div>
        <div class="navbar__col">
            <a href="https://members.fridayplans.com/login" class="btn btn--blue navbar__btn-login">
                <span class="btn__text">log in</span>
            </a>
        </div>
    </div>

    <!--menu.begin-->
    <div class="navbar__menu">
        <ul class="menu__list">
            <li class="menu__item"><a href="/" class="menu__link menu__link--home is-active">Home</a></li>
            <li class="menu__item"><a href="/pricing/" class="menu__link menu__link--pricing">Pricing</a></li>
            <li class="menu__item"><a href="/shipping/" class="menu__link menu__link--shipping">Discreet Packaging</a></li>
            <li class="menu__item"><a href="/privacy/" class="menu__link menu__link--privacy">Privacy and Security</a></li>
            <li class="menu__item"><a href="/satisfaction/" class="menu__link menu__link--money-back">Money Back Guarantee</a></li> 
            <li class="menu__item"><a href="/mission/" class="menu__link menu__link--mission">Our Mission</a></li>
            <li class="menu__item"><a href="/charity/" class="menu__link menu__link--charitable">Our Charitable Efforts</a></li>
            <li class="menu__item"><a href="https://members.fridayplans.com/login" class="menu__link menu__link--account">Manage Account</a></li>
            <li class="menu__item"><a href="/faq/" class="menu__link menu__link--faq">frequently asked questions</a></li>
            <li class="menu__item"><a href="/contact-us/" class="menu__link menu__link--contact">Contact Us</a></li>
        </ul>
    </div>
    <!--menu.end-->
</nav>